/* Place your CSS styles in this file */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    transition: all 4s linear;
}

h1 {
    margin-bottom: 20px;
    font-size: 3em;
    cursor: pointer;
}

/* h1:hover + .rotater {
    transform: rotate(360deg);
} */

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #1269c7;
    margin: 10px 0;
    font-weight: 700;
    font-size: 1.2em;
    transition: font-size 1s linear;
}

.links a:hover {
    font-size: 1.3em;
}

footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    .links a {
        font-size: 1em;
    }
}
